@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}

:root {
   margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
 
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text{
  font-size: 4rem;
  letter-spacing: 3px;
  font-family: monospace;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(14) ease-in linear, cursor .4s step-end infinite alternate ;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}
@keyframes cursor{
  50%{border-color: transparent;}
}
@keyframes typing{
  from {width: 0;}
}
main{
  position: relative;

  z-index: 0;
}

.tab{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}

.tab_text{
  z-index: 2; 
  /* position: absolute; */
  color: blue;
 
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
